.foter--properties{background:#3D4050; padding:30px 0px;}
.footer__wrap{
	display:flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap:wrap;
}

.footer__text{
	font-size:13px;
	font-weight:400;
}
.footer__span-text{
    text-transform: uppercase;
}
.footer__text--law{color:#FFF;}
.footer__text--pay{
	color:#C3C3C3;
	display: flex;
    align-items: center;
	padding-right: 30px;
}
.footer__pay .footer__text--pay:nth-child(3){padding-right: 0px;}
.footer__pay {
    display: flex;
    justify-content: space-between;
}

.footer__soc{
	display: grid;
    grid-template-columns: 140px 140px;
    grid-column-gap: 40px;
}

.footer__text--link{
	color:#FFF;
	display: flex;
    align-items: center;
}
.footer__text--link:hover{
	color:#3E9CDC;
}
.footer__span-img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.partition{color:#C3C3C3;}

@media only screen and (max-width:1300px) {
.footer__soc {grid-template-columns: repeat(2,1fr);}
}

@media only screen and (max-width:991px) {
.footer__wrap {justify-content: center; flex-direction: column;}
.partition{display:none;}
.footer__inner{padding-bottom: 15px;}
.foter--properties {padding: 30px 0px 15px;}
.footer__soc {grid-column-gap: 0; justify-items: center;}
}

@media only screen and (max-width:470px) {
.footer__text--pay {padding-right: 13px;}
}

@media only screen and (max-width:370px) {
.footer__text {font-size: 12px;}
}