$accent-color: #3E9CDC;

.menu__list{
	display:flex;
	justify-content: flex-end;
	flex-wrap:wrap;
}

.menu__item{
	font-size:13px;
	font-weight:600;
	color:#FFFFFF;
	text-transform: uppercase;
	margin-left:60px;
	
	&:first-child{margin-left:0px;}
}


.menu__link{
	color:#FFFFFF;
	
	&:hover{color:$accent-color;}
}

.menu__link--active{color:$accent-color;}


@media only screen and (max-width:767px) {
.menu__list {justify-content: center;}
}

@media only screen and (max-width:470px) {
.menu__item {margin-left: 35px;}
}

@media only screen and (max-width:390px) {
.menu__item {font-size:11px;margin-left: 25px;}
}